<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../asets/css/estilos.css">
    <title>Document</title>
</head>
<body>
    <div class="imagenes">
        <img src="../asets/img/circulo.png"  alt="">
        <img src="../asets/img/detener.png" alt="">
        <img src="../asets/img/rectangulo-redondeado.png" alt="">
        <img src="../asets/img/triangulo.png" alt="">
    </div>
    <div class="in">
    <a href="../index.html"><h3>Inicio</h3></a>
    </div>
    <form action="" class="formulario">
        <input type="text" id="lado1">
        <label for="">Ingrese el primer lado del triangulo</label>
            <br>
            <br>
        <input type="text" id="lado2">
        <label for="">Ingrese el segundo lado para el triangulo</label>
       <br>
       <br>
       <input type="text" id="lado3">
       <label for="">ingrese el tercer lado del triangulo</label>
       <br>
       <br> 
       <button id="enviar"  onclick="conversion2(event)">Enviar</button>
    </form>
    <script src="../asets/js/reto3.js"></script>
</body>
</html>