<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../asets/css/estilos.css">
    <title>Document</title>
</head>
<body>
    <header>
    </header>
    <main>
        <form action="" class="caja" id="validacion" novalidate>
            <h1>Formulario de registro</h1>
            <label>Tipo de documento</label>
            <select name="" id="tipodoc">
                <option value="0">Seleccione un tipo de documento</option>
                <option value="1">Cedula de ciudadania</option>
                <option value="2">Tarjeta de identidad</option>
                <option value="3">Pasaporte</option>
            </select>
            <div id="nodoc">
                <label>No.documento</label>
                <input type="text" name="nodoc" id="nodoc">
                <div class="feedback"></div>
            </div>
            <br>
            <br>
            <div id="camponombre">
                <label>Nombre</label>
                <input type="text" name="nombre" id="nombre">
                <div class="feedback"></div>
            </div>
            <br>
            <br>
            <div id="campoapellido">
                <label>apellido</label>
                <input type="text" name="apellido" id="apellido">
                <div class="feedback">
                </div>
                <br>
                <br>
            <div id="campocorreo">
                <label>Correo electronico</label>
                <input type="text" name="correo" id="correo">
                <div class="feedback"></div>

            </div>
            <div id="camponoDoc">
                <label>No. Celular</label>
                <input type="text" name="noCel" id="noCel" class="">
                <div class="feedback"></div>
            </div>
    
            <input type="submit" name="enviar" value="Enviar" class="boton">
        </form>
    </main>
    <footer></footer>
    <script src="../asets/js/reto6.js"></script>
</body>
</html>