<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="../asets/css/estilos.css">
    <title>Document</title>
</head>
<body>
    <a href="../index.html">Inicio</a>
    <br>
<div class="l1">
    <label for="valor">ingrese una temperatura en grados</label>
    <br>
    <br>
    <input type="text" id="temp">
    <br>
    <br>
    <select name="op1" id="op1" >
     <option value="">vas a convertir de </option>
     <option value="F">Farenheit</option>
     <option value="C">Celsius</option>
     <option value="K">Kelvin</option>
    </select>
    <select name="op2 "  id="op2">
        <option value="">Deseas convertir a </option>
        <option value="K">Kelvin</option>
        <option value="F">Farenheit</option>
        <option value="C">Celsius</option>
    </select>
    <br>
    <br>
    <button id="conversion(p)"onclick="conversion(event)">Convertir</button>
</div>
    <script src="../asets/js/reto3.js"></script>
</body>
</html>