<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
    <link rel="stylesheet" href="../asets/css/eventos.css">
    <title>reto1</title>
 
</head>
<body>
    <div class="in">
        <a href="../index.html">Inicio</a>
    </div>
<section class="formulario">
    <h3>formulario</h3>
    <label for="palabra1">ingrese una palabra</label>
    <input type="text"  name="solicitud" id="solicitud" onchange="inicio()">
    <br>
    <br>
    
     <button id="" onclick="funcion1()">cantidad parametros </button>
      <button id="" onclick="funcion2()">mayusculas</button>
      <button id="" onclick="funcion3()">minusculas</button>
      <button id="" onclick="funcion4()">el primer caracter </button>
  
    <div id="cambio" ></div>
     <br>
     <br>
</section>
<script src="../asets/js/reto1.js"></script>          
</body>
</html>